<!doctype html>
<html class="no-js" style="overflow-x: hidden" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Security System</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">

    <link rel="stylesheet" href="{{root}}/css/style.css">
    <link rel="stylesheet" href="{{root}}/css/c3.css">
    <link rel="stylesheet" href="{{root}}/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Assistant:400,700" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <sript src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"></sript>

    <script src="{{root}}/js/bundle.js"></script>

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.21/c3.min.js"></script>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js" data-main="/js/sentiment"></script>   -->

    <script src="{{root}}/js/bing_maps.js"></script>
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AmA3g4fVkW_W0260B6WfwDR13pRvztfOlwIOEnuS01boL8g_SMA6IUhf_gx0EicT' async defer></script>
    <script src="{{root}}/js/sentiment.js"></script>

  </head>
  <body>

    {{> body}}

  </body>
</html>
