@import 'foundation-sites';

/*
  Foundation
*/
.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/*
  Navbar
*/
#navbar {
  background: #1b242f;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color: $white;
  height: 7.5vh;

  h3, p {
    margin-bottom: 0;
  }
}

/*
  Content
*/
#content {
  height: 92.5vh;
  padding: 1.25rem;
}

#security-feed {
  height: 50%;
}

/*
  Utilities
*/
.full-height {
  height: 100%;
}
